.list {
   position: fixed;
   bottom: 0;
   left: 0;

   width: 100%;
   margin: 1rem 0 0 0;
   padding: 1rem 0;

   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 1rem;

   list-style: none;
   font-size: 1.4rem;
   background: var(--prime-bg);
   border-top: 1px solid #ddd;
}

.link a {
   color: black;
   text-decoration: none;
   font-weight: bold;

   &:hover {
      filter: saturate(1.5);
   }
}

.link {
   transition: transform 0.2s ease;
}

.link:hover {
   transform: scale(1.03);
}
