* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Lexend', sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
}

*::before,
*::after {
   box-sizing: inherit;
}

button {
   color: white;
   background-color: #003459;
   cursor: pointer;
   height: 3rem;
   border: none;
   border-radius: 1rem;
   padding: 1rem;
   font-weight: bold;
   font-size: 1rem;
}

button:disabled {
   opacity: 0.7;
   cursor: not-allowed;
}

input {
   height: 3rem;
   border: none;
   border-radius: 1rem;
   padding: 1rem;
   color: #00171f;
   font-weight: bold;
   font-size: 1rem;
}

input:focus {
   outline: none;
}
