.weatherCard {
   width: 100px;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
   justify-content: center;
   padding: 1rem 0 1rem 0;
   color: black;
   font-weight: bold;
   font-size: 1.4rem;
   padding: 0.8rem;
   margin: 0.5rem;

   min-width: 300px;
   border-radius: 1rem;

   button {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
