.weatherCard {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   color: white;
   font-size: 1.2rem;
   font-weight: bold;

   background-color: rgb(128, 79, 181);

   padding: 1rem;
   border-radius: 2rem;
}
