.header {
   font-size: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem 0 1rem 0;
   background-color: #00a8e8;
   color: white;
}

.search {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   padding: 1rem 0 1rem 0;
   background-color: #007ea7;
}
